<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <title data-i18n="nav.signaturePad">Signature Pad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="manifest" th:href="@{/manifest.json}">
      <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
      <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
      <link th:rel="stylesheet" th:href="@{/css/signature-pad.css}"/>
  </head>
  <body onselectstart="return false">
    <nav class="app-header navbar navbar-expand"> 
      <div class="container-fluid"> 
        <ul class="navbar-nav">
          <li id="green-light" class="nav-item" style="display: none; align-items: center;">
            <img th:src="@{/images/green.svg}" class="monitor-status-light" />
          </li>
          <li id="red-light" class="nav-item" style="display: inline-flex; align-items: center;">
            <img th:src="@{/images/red.svg}" class="monitor-status-light" />
          </li>
          <li class="nav-item d-none d-md-block"> 
            <a th:href="@{/signature-pad}" class="nav-link"><i class="fas fa-signature me-1"></i> Signature Pad</a> 
          </li>
        </ul> 
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown ms-auto">
            <button class="btn dropdown-toggle" id="lang-btn" data-bs-toggle="dropdown">
              <img id="lang-flag" src="i18n/flags/de.svg" width="24" alt="DE"/>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" id="lang-menu">
              <li><button class="dropdown-item" data-lang="de"><img src="i18n/flags/de.svg" width="24" alt="DE"/> DE - Deutsch</button></li>
              <li><button class="dropdown-item" data-lang="ar"><img src="i18n/flags/ar.svg" width="24" alt="AR"/> AR - العربية</button></li>
              <li><button class="dropdown-item" data-lang="en"><img src="i18n/flags/en.svg" width="24" alt="EN"/> EN - English</button></li>
              <li><button class="dropdown-item" data-lang="es"><img src="i18n/flags/es.svg" width="24" alt="ES"/> ES - Español</button></li>
              <li><button class="dropdown-item" data-lang="fr"><img src="i18n/flags/fr.svg" width="24" alt="FR"/> FR - Français</button></li>
              <li><button class="dropdown-item" data-lang="hi"><img src="i18n/flags/hi.svg" width="24" alt="HI"/> HI - हिन्दी</button></li>
              <li><button class="dropdown-item" data-lang="ru"><img src="i18n/flags/ru.svg" width="24" alt="RU"/> RU - Русский</button></li>
              <li><button class="dropdown-item" data-lang="tr"><img src="i18n/flags/tr.svg" width="24" alt="TR"/> TR - Türkçe</button></li>
              <li><button class="dropdown-item" data-lang="uk"><img src="i18n/flags/uk.svg" width="24" alt="UK"/> UK - Українська</button></li>
              <li><button class="dropdown-item" data-lang="zh"><img src="i18n/flags/zh.svg" width="24" alt="ZH"/> ZH - 中文</button></li>
            </ul>
        </ul>
        </li>
      </div> 
    </nav> 

    <div id="signpad-standby">
      <div class="signpad-logo-container">
        <div class="signpad-logo"><i class="fas fa-signature me-1"></i>
          <span data-i18n="nav.signaturePad">Signature Pad</span>
        </div>
      </div>
      <div class="heartbeat-container">
        <div class="heartbeat"><i class="fas fa-heartbeat me-1"></i>
          <span id="heartbeat" data-i18n="heartbeat.disabled">disabled</span>
        </div>
      </div>
    </div>

    <div id="signpad-active" style="display: none">
      <div class="userinfo-container">
        <img id="userinfo-jpegpoto" class="userinfo-jpegpoto" th:src="@{/images/loading.png}"/>
        <div class="userinfo-text">
          <div id="userinfo-name" class="userinfo-name"></div>

          <label for="userinfo-birthday" data-i18n="label.birthday">Birthday</label>
          <div id="userinfo-birthday"></div>

          <label for="userinfo-userid" data-i18n="label.userid">User-Id</label>
          <div id="userinfo-userid"></div>

          <label for="userinfo-email" data-i18n="label.email">E-Mail</label>
          <div id="userinfo-email"></div>

          <div id="userinfo-semester-container" style="display: none">
            <label data-i18n="label.semesterAddress">Semester Address</label>
            <div id="userinfo-semester"></div>
          </div>

          <div id="userinfo-home-container" style="display: none">
            <label data-i18n="label.homeAddress">Home Address</label>
            <div id="userinfo-home"></div>
          </div>
        </div>
      </div>

      <div class="user-consens" id="consent-text" data-i18n="consentText">
        By signing this document, I accept the IT usage policy of this university.
      </div>

      <div id="signature-pad-container" class="signature-container">
        <div id="signature-pad" class="signature-pad">
          <div class="signature-pad--body">
            <canvas></canvas>
          </div>
          <div class="signature-pad--footer text-center">
            <div class="description mb-2" data-i18n="signature.signAbove">Sign above</div>
            <div class="signature-pad--actions grid-4">
              <button class="btn btn-secondary btn-lg" data-action="clear" style="text-wrap: nowrap">
                <i class="fas fa-eraser me-2"></i>
                <span data-i18n="btn.clear">Clear</span>
              </button>
              <div></div>
              <button class="btn btn-danger btn-lg" data-action="cancel" style="text-wrap: nowrap">
                <i class="fas fa-times-circle me-2"></i>
                <span data-i18n="btn.cancel">Cancel</span>
              </button>
              <button class="btn btn-success btn-lg" data-action="ok" style="text-wrap: nowrap">
                <i class="fas fa-check-circle me-2"></i>
                <span data-i18n="btn.ok">OK</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
      const wsBaseUrl = /*[[${wsBaseUrl}]]*/ 'unknown-ws-base-url';
      const heartbeatEnabled = /*[[${heartbeatEnabled}]]*/ true;
      console.log(wsBaseUrl);
      console.log(heartbeatEnabled);
    </script>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/signature_pad/dist/signature_pad.umd.min.js}"></script>
    <script th:src="@{/js/sweetalert2/sweetalert2.all.min.js}"></script>
    <script th:src="@{/js/jose/index.umd.min.js}"></script>
    <script th:src="@{/js/signature-pad-app.js}"></script>

  </body>
</html>
